.corpo {
    background: #ffffff !important;
     --thm-base: #10b844 !important;
}

<<<<<<< HEAD
.main-nav__navigation-box > li > a:hover{
    color: #ffffff !important;
    --thm-base: #10b844 !important;
}

.cor_menu {
    --thm-base: #9d2121 !important;
}

.cor_menu_link {
    --thm-base: #10b844 !important;
}
.cor_rede_social {
    --thm-primary: #d85252 !important;
}
=======
>>>>>>> parent of 02fdd16 (Update estilo.css)
