.corpo {

}

.main-nav__navigation-box > li > a:hover{
    color: #ffffff !important;
    --thm-base: #10b844 !important;
}

.main-nav__main-navigation .main-nav__navigation-box > li > a {
  color: #ffffff !important;
}

.main-nav__header-one {
    background: #9d2121 !important;
}

.cor_menu {
    --thm-base: #9d2121 !important;
}

.cor_menu_link {
    --thm-base: #10b844 !important;
}